ipykernel
python-dotenv
langchain
langchain_community
langgraph
cassio 
langchain_groq
langchainhub
tiktoken
langchain_huggingface
openai 
requests 
opencv-python 
pillow 
numpy
langchain_openai
chromadb
onnxruntime